// Override signing settings for free account
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY = 
CODE_SIGNING_ALLOWED = NO
ENABLE_BITCODE = NO
CODE_SIGN_ENTITLEMENTS = 
EXPANDED_CODE_SIGN_IDENTITY = 
PROVISIONING_PROFILE_SPECIFIER = 
DEVELOPMENT_TEAM = 

// Disable capabilities that require paid account
ENABLE_APP_GROUPS = NO
ENABLE_KEYCHAIN_SHARING = NO

// Bundle IDs
PRODUCT_BUNDLE_IDENTIFIER = com.local.prsnl
